<!DOCTYPE html>
<html>
<head>
    <title>Checkout canceled</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div>

            <div class="text-center">
                <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
                <button class="btn btn-dark" onclick="location.href='@Url.Action("Index","OnlineStore")'">BACK TO SHOPPING</button>
            </div>
        </div>
    </div>
</body>
</html>