@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>
<p>
    <h3>Address:</h3>
    <span>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </span>
</p>
<p>
    <strong>Support:</strong>   <a href="mailto:support@threadboutique.com">Support@threadboutique.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@threadboutique.com">Marketing@threadboutique.com</a>
</p>
