@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "User Roles";
}
<h1>User Roles</h1>
<p>
    <a style="color:black" asp-action="Create">Add new role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Id)</th>
            <th>@Html.DisplayNameFor(model=>model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(i=>item.Id)</td>
                <td>@Html.DisplayFor(i=>item.Name)</td>
            </tr>
        }
    </tbody>

</table>
